---
import SEO from '~/components/schema.astro';
import Anticopy from '~/javascript/anticopy.astro';
import Analytics from '~/javascript/analytics.astro';

import '~/assets/tailwind.css';
---

<!DOCTYPE html>

<html lang="vi">

	<head>

		<SEO/>

		<Analytics/>

	</head>

	<body class="antialiased text-default bg-page tracking-tight">

		<slot/>

		<Anticopy/>

		<style is:global>
			img {
				content-visibility: auto;
			}
		</style>

	</body>

</html>